.cartDiv {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cartDiv li {
    display: flex;
    justify-content: space-between;
}

.cartDiv h1 {
    color: #0B8E10;
}

.cartDiv h2 {
    opacity: 0.3;
}

.cartDiv h3 {
    color: #0B8E10;
}

li .quantity {
    font-weight: bold;
    float: right;
}