.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
}

.productList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: groove;
}

.productCard {
    border: groove;
    border-radius: 5%;
    margin: 5px 5px 5px 5px;
    padding: 10px 15px 15px 15px;
}

.categories {
    float: left;
    margin: 5px;
}