#layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 60vh;
}

#cartDiv {
    border-left: solid;
    border-color: #D9D9D9;
}

#orderPage {
    padding: 2% 20% 2% 20%;
}

#orderForm {
    width: 70%;
}

input:not([type=submit]) {
    border-radius: 3px;
    width: 100%;
    margin: 2% 0% 2% 0%;
}

input[type=submit] {
    display: block;
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 60vh;
}

.productList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: scroll;
}

#currentHeader {
    color: #0B8E10;
}

.productCard {
    border: solid;
    border-color: #D9D9D9;
    border-radius: 5%;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    text-align: center;
}

#inlineInfo {
    display: flex;
    justify-content: space-evenly;
    align-items:first baseline
}

.categories {
    font-weight: bold;
    border-right: solid;
    border-color: #D9D9D9;
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#welcome-div {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#welcome-text {
    margin: 5% 15% 5% 15%;
}

#welcome-div h1 {
    color: #0B8E10;
}

#welcome-div button {
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-color: #0B8E10;
    color: white;
    border-radius: 8px;
    border-color: #0B8E10;
    font-weight: 500;
}

#bag-img {
    height: 100%;
    width: 100%;
}