.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr;
    min-height: 60vh;
}

.productList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.productCard {
    border: groove;
    border-radius: 5%;
    margin: 5px 5px 5px 5px;
    padding: 10px 15px 15px 15px;
}

.categories {
    font-weight: bold;
    border-right: groove;
    border-bottom: groove;
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#welcome-div {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#welcome-text {
    margin: 5% 15% 5% 15%;
}

#welcome-div h1 {
    color: #0B8E10;
}

#welcome-div button {
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-color: #0B8E10;
    color: white;
    border-radius: 8px;
    border-color: #0B8E10;
    font-weight: 500;
}

#bag-img {
    height: 100%;
    width: 100%;
}