#header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  border: groove;
  background-image: url("../public/images/header-cropped.jpg");
  background-size: cover;
}

#header-div h1 {
  color: #0B8E10;
  text-align: right;
}

#footer-div {
  display: flex;
  justify-content: space-evenly;
  border-top: groove;
  background-image: url("../public/images/footer-flipped.jpg");
  background-size: cover;
  opacity: 0.3;
}
